.checkout-form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
}

.checkout-form input{
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.checkout-submit{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.checkout-submit:hover{
    background-color: #0056b3;
}